ErrorDocument 400 http://smug.cf/400.html
ErrorDocument 401 http://smug.cf/401.html
ErrorDocument 403 http://smug.cf/403.html
ErrorDocument 404 http://smug.cf/404.html
ErrorDocument 503 http://smug.cf/503.html
php_value display_errors On
php_flag magic_quotes 1
php_flag magic_quotes_gpc 1
php_value mbstring.http_input auto
php_value date.timezone Europe/Berlin
RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
